In [6]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
from urllib.parse import unquote
from getpass import getpass
from sqlalchemy import text

server_name = "localhost"
database_name = "Bookstore"
driver = "ODBC Driver 18 for SQL Server"
user_name = "bookstore_user"
pwd = "123user_password"
connection_string = f"DRIVER=ODBC Driver 18 for SQL Server;SERVER={server_name};UID={user_name}; PWD={pwd};DATABASE={database_name};TrustServerCertificate=yes;"
url_string = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

engine = create_engine(url_string)

In [7]:
import pandas as pd 

query = text("SELECT TOP 3 * FROM Authors")

with engine.connect() as connection:
    df = pd.read_sql(query, connection)
    print(df)

   id FirstName LastName    Birthday DateOfDeath
0   1    George   Orwell  1903-06-25  1950-01-21
1   2       Liu    Cixin  1963-06-23        None
2   3     Franz    Kafka  1883-07-03  1924-06-03

In [8]:
# query with user input
user_input = input()
query = text("""
    SELECT b.Title, bs.Name,ls.BookshopID, ls.[Number of books]
    FROM Bookshops bs
    JOIN LagerSaldo ls ON bs.id = ls.BookshopId
    JOIN Books b ON ls.ISBN = b.ISBN
    WHERE b.Title LIKE :title_to_search
""")

params = {"title_to_search": f"%{user_input}%"}

with engine.connect() as connection:
    df = pd.read_sql(query, connection, params=params)
    print(df)

       Title                 Name  BookshopID  Number of books
0  The Trial             Adlibris           2                3
1  The Trial  NÃ¤ckrosen bokhandel           5                1